<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Успешен Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Здравей, {{ user }}!</h2>
        <p>Успешно влязохте в профила си.</p>
        <a href="{{ url_for('home') }}"><button>Обратно към началната страница</button></a>
        <a href="{{ url_for('info') }}"><button>Виж информация</button></a>
    </div>
</body>
</html>
