<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Регистрация</h2>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <form method="post">
            <label for="first_name">Първо Име:</label>
            <input type="text" id="first_name" name="first_name" required>
            
            <label for="last_name">Фамилно Име:</label>
            <input type="text" id="last_name" name="last_name" required>
            
            <label for="email">Имейл:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="password">Парола:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Регистрация</button>
        </form>
        <a href="{{ url_for('home') }}">Обратно към началната страница</a>
    </div>
</body>
</html>
