<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Преглед на Потребителите</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Регистрирани Потребители</h2>
        <table>
            <thead>
                <tr>
                    <th>Първо Име</th>
                    <th>Фамилно Име</th>
                    <th>Имейл</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user[0] }}</td>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="{{ url_for('home') }}"><button>Обратно към началната страница</button></a>
    </div>
</body>
</html>
